.icon
{
    width: 57%;
    height: auto;
    border-radius: 5px;
    
}
.icon-bar {
  width: 9%; /* Full-width */
  background-color: white; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
  float: left;
  height:100%;
  position: fixed;
}
.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: black; /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  .icon-bar a:hover {
    background-color: #9392f3; /* Add a hover color */
    border-radius: 5px;
  }
  .active {
    background-color: #b9aceb; /* Add an active/current color */
    border-radius: 5px;
}
#div1
{
    margin-left: 5%;
    float: left;
    width: 30%;
    height: fit-content;
    background-color: rgb(250, 240, 240);
    border-radius: 10px;
    padding: 5%;
    color: rgb(8, 10, 19);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(238, 235, 235);   
    transition: 0.5s;
}
#div2
{
    padding: 30px;
    float: left;
    width: 35%;
    background-color:white;
    height: 100%;
    color: rgb(3, 5, 17);
    
}
#div3
{
    padding: 30px;
    float: left;
    width:30%;
    background-color: white;
    height: 100%;
    color: rgb(3, 5, 17);

}
#profile
{
    width: 100%;
    height: 100%;
    background-color: rgb(250, 240, 240);
    border-radius: 10px;
    padding: 1%;
    color: rgb(8, 10, 19);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(238, 235, 235);
   
    transition: 0.5s;
}
button
{
    border-radius: 10px;
    background-color: rgb(57, 8, 235);
}
#search
{
    width: 90%;
    height: 100%;
    background-color: rgb(238, 235, 235);
    border-radius: 10px;
    padding: 1%;
    color: rgb(23, 34, 100);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(238, 235, 235);
    box-shadow: 0px 0px 10px 0px rgb(238, 235, 235);
    transition: 0.5s;
}


#pic{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
